FlexboxLayout {
  background-image: url("~/images/yape.JPG");
  justify-content: center;
  background-size: contain;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-primary {
  background-image: url("~/images/botonQR.png");
  /* border: none;
  outline: none;
  overflow: hidden; */
  background-size: contain;
  background-repeat: no-repeat;
  width: 114px;
  height: 114px;
}
